<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>userID</param-name>
        <param-value>2022-1234567</param-value>
    </context-param>
    <context-param>
        <param-name>userEmail</param-name>
        <param-value>student@ust.edu.ph</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>controller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>controller.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileCategories</servlet-name>
        <servlet-class>model.FileCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEntry</servlet-name>
        <servlet-class>controller.ShowEntry</servlet-class>
        <init-param>
            <description>This is the name of the user.</description>
            <param-name>userName</param-name>
            <param-value>user1</param-value>
        </init-param>
        <init-param>
            <description>This is the occupation of the user.</description>
            <param-name>userOccupation</param-name>
            <param-value>Student</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ShowContent</servlet-name>
        <servlet-class>controller.ShowContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppContextListener</servlet-name>
        <servlet-class>controller.AppContextListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/CategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileCategories</servlet-name>
        <url-pattern>/FileCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEntry</servlet-name>
        <url-pattern>/ShowEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowContent</servlet-name>
        <url-pattern>/ShowContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppContextListener</servlet-name>
        <url-pattern>/AppContextListener</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start.html</welcome-file>
        <welcome-file>signup.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error1.jsp</location>   
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error2.jsp</location>   
    </error-page>
</web-app>
