<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/error1.jsp</location>   
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error2.jsp</location>   
    </error-page>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>contoller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEntry</servlet-name>
        <servlet-class>ShowEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesServlet</servlet-name>
        <servlet-class>contoller.CategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>contoller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showContent</servlet-name>
        <servlet-class>showContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>contoller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEntry</servlet-name>
        <url-pattern>/ShowEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesServlet</servlet-name>
        <url-pattern>/CategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showContent</servlet-name>
        <url-pattern>/showContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
